img {
    width: 120px;
    height: 120px;
}

.circle {
    border-radius: 50%;
}

.sos {
    border: 5px solid #25fc09;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 97vh;
    width: 70vh;
}