img {
    width: 350px;
    height: 350px;
}

.circle {
    border-radius: 50%;
}

.sos {
    border: 5px solid #25fc09;
}

.utopia {
    border: 5px solid #ddd318;
}

.mbdtf {
    border: 5px solid #ee0b0b;;
}

main{
    display: flex;
    flex-wrap: wrap;
}