img {
    width: 120px;
    height: 120px;
}

.circle {
    border-radius: 50%;
}

.sos {
    border: 5px solid #25fc09;
}

.utopia {
    border: 5px solid #ddd318;
}

main{
    display: flex;
    justify-content: center;
}